@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?es3q46');
  src:  url('fonts/icomoon.eot?es3q46#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?es3q46') format('truetype'),
    url('fonts/icomoon.woff?es3q46') format('woff'),
    url('fonts/icomoon.svg?es3q46#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-close:before {
  content: "\e901";
}
.icon-arow-right:before {
  content: "\e902";
}
.icon-skip-track:before {
  content: "\e903";
}
.icon-share-arrow:before {
  content: "\e904";
}
.icon-search:before {
  content: "\e900";
}
.icon-calendar:before {
  content: "\e905";
  color: #cdcdcd;
}
.icon-angle-right:before {
  content: "\e906";
}
.icon-angle-left:before {
  content: "\e907";
}
