.ui-datepicker {
  margin-top: 3px;
  border-radius: 0;
  font-family: inherit;

  table {
    margin-bottom: 0;
    border: none;
    width: calc(100% - 1px);
    font-size: .9em;
    border-collapse: collapse;
  }
  th {
    color: #cccccc;
    padding: .7em .3em;
    text-align: center;
    font-weight: bold;
    border: 0;
  }
  td {
    width: calc(100% / 7);
    border: 1px solid #eee;
    padding: 1px;
    span, a {
      height: 35px;
      padding: 8px;
      text-align: center;
      font-size: 15px;
    }
  }
  .ui-widget-header {
    position: relative;
    background-color: transparent;
    border: none;
    padding: 10px 0;
    font-weight: normal;
    .ui-icon {
      display: none;
    }
    a {
      border: none;
      cursor: pointer;
      color: #333;
      top: 50%;
      @include translate(0, -50%);
    }
  }
  .ui-datepicker-title {
    font-size: 16px;
    margin: 0 2.3em;
    line-height: 1.8em;
    text-align: center;
    font-weight: inherit;
  }
  .ui-datepicker-prev {
    position: absolute;
    top: 0;
    left: 0;
    width: 45px;
    height: 100%;
    padding: 3px;
    text-align: center;
    font-size: 22px;
    border-radius: 0;
    &:before {
      content: "\e906";
      display: inline-block;
      font-family: 'icomoon' !important;
      speak: none;
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      /* border: 1px solid #686868; */
      /* height: 32px; */
      line-height: 25px;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      position: absolute;
      top: 50%;
      left: 50%;
      @include translate(-50%, -50%);
    }
  }
  .ui-datepicker-next {
    position: absolute;
    top: 0;
    right: 0;
    width: 45px;
    height: 100%;
    padding: 3px;
    text-align: center;
    font-size: 22px;
    border-radius: 0;
    &:before {
      content: "\e907";
      display: inline-block;
      font-family: 'icomoon' !important;
      speak: none;
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      /* border: 1px solid #686868; */
      /* height: 32px; */
      line-height: 25px;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      position: absolute;
      top: 50%;
      left: 50%;
      @include translate(-50%, -50%);
    }
  }
  .ui-datepicker-prev-hover {
    left: 0;
    top: 0;
    background-color: #eee;
  }
  .ui-datepicker-next-hover {
    right: 0;
    top: 0;
    background-color: #eee;
  }
  .ui-state-default {
    background-color: transparent;
    &:hover {
      background-color: #eeeeee;
    }
  }

}

.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default,
.ui-button, html .ui-button.ui-state-disabled:hover,
html .ui-button.ui-state-disabled:active {
  border: none;
}

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active, .ui-button:active, .ui-button.ui-state-active:hover {
  background-color: #045d9b;
  border: none;
  color: #fff;
}

.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight {
  background-color: rgba(109, 158, 18, 0.5);
  color: #fff;
  border-color: rgba(109, 158, 18, 0.5);
}

.ui-widget-content {
  border: 1px solid #ddd;
  background: #fff;
  color: #333;
}
.ui-state-disabled, .ui-widget-content .ui-state-disabled, .ui-widget-header .ui-state-disabled{
  opacity: .35;
  background-image: none;
}
.ui-datepicker td span, .ui-datepicker td a{
  display: block;
  text-decoration: none !important;
  color: #333;
}