.booking-dropdown {
  background-image: url("/images/maze-yellow.png");
  border: 1px solid #fff;
  color: #fff;
  display: none;
  left: auto;
  right: 0;
  padding: 20px 15px;
  width: 320px;
  top: 37px;
  border-radius: 0;
  @media (min-width: 992px) {
    left: 0;
    right: auto;
  }
  .booking-dropdown--header {
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #fff;
  }
  .btn-submit {
    width: 100%;
    height: 50px;
    background-color: #cf0707;
    border: 1px solid #fff;
    letter-spacing: 1px;
    font-size: 13px;
    font-weight: 900;
    padding: 16px 0;
    transition: all 225ms ease-in-out;
    i {
      position: relative;
      font-size: 10px;
      left: 0;
      transition: all ease .3s;
    }
    &:hover {
      background-color: #a80e0e;
      border: 3px solid #cf0707;
      i {
        left: 5px;
      }

    }
  }
}