
@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon/fonts/icomoon.eot');
  src:  url('../fonts/icomoon/fonts/icomoon.eot#iefix') format('embedded-opentype'),
  url('../fonts/icomoon/fonts/icomoon.ttf') format('truetype'),
  url('../fonts/icomoon/fonts/icomoon.woff') format('woff'),
  url('../fonts/icomoon/fonts/icomoon.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-search:before {
  content: "\e900";
}
.icon-close:before {
  content: "\e901";
}
.icon-arow-right:before {
  content: "\e902";
}
.icon-skip-track:before {
  content: "\e903";
}
.icon-share-arrow:before {
  content: "\e904";
}


